/* https://coolors.co/palette/001427-708d81-f4d58d-bf0603-8d0801 */

:root {
  --primary: #d00000;
  --secondary: #ffba08;
  --accent1: #3f88c5;
  --accent2: #032b43;
  --accent3: #136f63;
}
body {
  font-family:  'Merriwether', sans-serif;
  min-width: 479px;
}

header {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  min-width: 259px;
}

header img {

  width: 80px;
  border-radius: 50%;
  margin: 10px;
  
}

h1 {
  font-size: 22px;
  margin: 10px;
}
header h1 {
  color: var(--accent2);
}

#hamburger{
  font-size: 40px;
  color:  rgb(46, 117, 179);
  margin-left: 20px;
  transition: 0.8s;
}

#hamburger.show {
  transform: rotate(180deg);
}


#hamburger::before{
  content: "\2630";
}
#hamburger.show::before {
  content: "\2716";
  color:  var(--primary);
  font-size: 41.60px;
  padding: 1px;
}
.show {
  display: flex;
  flex-direction: column;
}

.show a {
  display: flex;
  flex-direction: column;
  min-width: 379px;
}
nav {
  margin: 0;
}

nav a {
  background-color:var(--primary);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  text-decoration: none;
  margin: 0;
  transition: 1s;
  display: none;
}

nav a:hover {
  background-color: var(--accent2);
  font-size: 21px;
  color: var(--secondary);
  text-decoration: 2px var(--secondary) underline;
}

/* Scroll container for current events */

main {
  display: grid;
  grid-template-columns: 1fr;

}
.hero-scroll-div {
  grid-column: 1 / 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-join {
  
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  
}

.hero-img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 100%;
}

.explore-hero{
  justify-self: center;
  grid-row: 1;
  grid-column: 1 / 2;
  position: relative;
 
  top: -3%;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  background-color: var(--accent2);
  color: #ffffffff;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  padding: 12px;
  transition: 1s;
}

.explore-hero:hover {
  color: var(--secondary);
  font-size: 20px;
}

.container-hero {
  grid-row: 2;
  grid-column: 2 / 3;
  margin-right: 5px;
}

.container-hero h2, .testimonial {
  text-align: center;
  margin: 20px 0;
  padding: 22px;
  font-size: 23px;
  background-color: var(--primary);
  color: #ffffff;
}

.scroll-container {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--accent2);
}


.scroll-content div p {
  text-align: center;
  margin: 20px 0;
}
.scroll-content div p img {
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.scroll-content div p a {
  text-decoration: none;
  font-size: 18px;
  color:  #000000;
}

.testimonials-section {
  grid-row: 2;
  grid-column: 1 / 2;
  margin-left: 5px;
}

.main-div-testimonials {
  width: 90%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--secondary);
  margin: 10px;
  
}

.testimonial-scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.testimonial-scroll-content img {
  border: 8px solid var(--accent2);
  border-radius: 50%;
  width: 100px;
  transition: transform .5s;
}

.testimonial-scroll-content p:first-child {
  text-align: center;
}
.testimonial-scroll-content p:last-child {
  text-align: center;
}


.testimonial-scroll-content img:hover {
  transform: scale(1.1);
  opacity: .7;
}

.testimonial-scroll-content p {
  margin: 10px;
  font-size: 20px;
}



/*-----------------Join Us Form----------------*/
.form-app {
  margin: 20px 15%;
  background-color: rgba(0, 0, 0, 0.8);

}
.div-form-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14px;
}

.form-app fieldset{
 
}

.form-app fieldset  legend {
  text-align: center;
}

.form-app fieldset textarea {
  width: ;
}

.form-app .div-form-app input {
  padding: .85rem;
  background-color: rgba(11, 23, 100, 0.1);
}

.form-app textarea {
  width: 100%;
}

.form-app fieldset label {
  color: #fff;
}




/* Form and weather */
.main-form {
  background-color: var(--accent2);
  padding: 10px;
  margin-bottom: -3%;
}

.form-row label {
  color: #ffffff;
}

.form-and-weather {
  grid-column: 1 / 3;
  grid-row: 3;
  margin: auto 10px;

  display: grid;
  grid-template-columns: 1fr;
  margin-top: 18px;
  height: 500px;
}

.form-right {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
}

/* Weather */
.weather {
  grid-column: 1/ 2;
  grid-row: 2;
  background-color: var(--accent2);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 38px;
  margin-top: 8%;
  min-width: 412px;
}

.search-input {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 20px;
  position: relative;
  left: 10%;
  text-align: center;
}

.search {
  height: 40px;
  height: 40px;
}

.search img {
  background-color: #ffffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.search-bar {
  margin: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 100px;
}

.weather div {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin: 5% 5% 0 0;
}


/* Form */

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}


.main-label {
  flex: 1;
  text-align: left;
  font-size: 20px;
}

.main-form input[type="text"],
.main-form input[type="email"], textarea {
  background-color: #ffffff;
  padding: 12px;
  width: 70%;
}

.submit-bt {
  width: 97.5%;
  padding: 10px;
  background-color: var(--secondary);
  color:  #000000;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  transition: 1s;
  margin: 10px;
}

.submit-bt:hover {

  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  padding: 10.5px;
}

input::placeholder {
  font-size: 18px;
}

textarea::placeholder {
  font-size: 20px;
}

/* Spotlight */
.spotlight {

  padding: 10px;
  margin: 14px 10px 10px 10px;
  background-color: var(--primary);
  margin-top: 48%;
  min-width: 396px;
}

.spotlight h2 {
  text-align: center;
  margin: 20px 0;
  color: cornsilk;
  font-size: 26px;
  font-weight: bold;
}

.spotlight p {
  margin-bottom: 20px;
  font-size: 19px;
  color: snow;
  font-weight: 400;
  line-height: 2;
}

.spotlight div {
  background-color: var(--accent2);
  color: var(--secondary);
  text-align: center;
  padding: 18px;
  font-size: 19px;
  align-self: center;
  width: 150px;
  margin: 14px auto;
  border-radius: 100px;
  cursor: pointer;
  transition: 3s;

}
.spotlight div a {
  transition: 1s;
}

.spotlight div a:hover {

  color: #ffffffff;
  font-size: smaller;
}

/* Footer */

footer {
  background-color: var(--accent2);
  padding: 50px;
  text-align: center;

  margin-top: 24px;
}
.div-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
}

.div-footer .div-a {
 grid-column: 1 / 5;
 grid-row: 1;
 margin-bottom: 20px;
}

.div-footer .div-b {
  grid-row: 2;
  grid-column: 2 / 3;
  margin-top: 10px;
}

.div-footer .div-c {
  grid-row: 2;
  grid-column: 3 / 4;
  margin-top: 10px;
}
 .social-m {
  grid-row: 3;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
 }

.social-media a img {
  border-radius: 50%;
  background-color: #ffffff;
}

.div-footer img {
  
  width: 30px;
  transition: transform 1s;
}

.div-footer img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.div-footer div {
  color: #ffffff;
  font-size: 20px;
 
}

.div-footer a {
  color: #ffffffff;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}
.div-footer a:hover {
  color: var(--secondary);
  text-decoration:  2px solid var(--secondary) underline;
  font-size: 19px;
}

#lastModified {
  color:  var(--secondary);
  font-size: 22px;
  text-align: center;
}


/* Discover page layout */

.photo-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.photo {
  grid-column: 1 / 2;
  grid-row: 3;
  margin-bottom: -20px;
}

.photo img {
  width: 100%;
  transition: transform .3s;
  margin-right: 0;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 10px 0 0;
  width: 100%;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  background-color: #000000;
  grid-row: 2;
  grid-column: 1 / 2;
}

table th {
  background-color: var(--primary);
}

td, th {
  padding: 18px;
  border: 1px solid var(--accent2);
  text-align: center;
  color: white;
}

td:hover, th:hover {
  background-color: rgba(255, 245, 245, 0.1);
  cursor: pointer;
}

.currentDay {
  background-color: var(--primary);
  color: white;
}

.month-year {
  grid-row: 1;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #000000;
  color: white;
  padding: 20px;
}

.year {
  margin-left: 10px;
}

.lastVisit {
 grid-column: 1 / 2;
 grid-row: 1;
 padding: 18px;
 margin: 10px 0;
 font-size: 20px;
 background-color: #000000;
 color: white;
 text-align: center;
}

.calendar {
  grid-column: 1 / 2;
  grid-row: 2;
}

.art-hd {
  background-color: var(--primary);
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 6px;
}

.art-bd {
  background-color: #000000;
  color: white;
  font-size: 17px;
  padding: 24px;
  line-height: 2;
}

.nature-cl {
  background-color: #000000;
  color: white;
  line-height: 2;
  padding: 12px 24px;
}



.learn-more {
  padding: 20px;
  border-radius: 20px;
  margin: 6px;
  background: var(--primary);
  color: white;
  text-align: center;
}

.learn-more:hover {
  background-color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}
.learn-more a {
  color: white;
  text-decoration: none;
}

.calendar {
  grid-row: 1;
}








