/* https://coolors.co/palette/001427-708d81-f4d58d-bf0603-8d0801 */

:root {
  --primary: #d00000;
  --secondary: #ffba08;
  --accent1: #3f88c5;
  --accent2: #032b43;
  --accent3: #136f63;
}
body {
  font-family:  'Merriwether', sans-serif;
  min-width: 479px;
  width: 100%;
}

/*-----------------------------Banner-------------------------------*/
.banner {
  display: none;
}
#chamber-banner {
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.banner a {
  font-size: 18px;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.banner a:hover {
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
}
.banner-btn {
  font-size: 18px;
  margin: 10px;
}

.banner-btn:hover {
  cursor: pointer;
}

/*--------------------Header-----------------*/

header {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  min-width: 259px;
}

header img {

  width: 80px;
  border-radius: 50%;
  margin: 10px;
  
}

h1 {
  font-size: 22px;
  margin: 10px;
}
header h1 {
  color: var(--accent2);
}

#hamburger{
  font-size: 40px;
  color:  rgb(46, 117, 179);
  margin-left: 20px;
  transition: 0.8s;
}

#hamburger.show {
  transform: rotate(180deg);
}


#hamburger::before{
  content: "\2630";
}
#hamburger.show::before {
  content: "\2716";
  color:  var(--primary);
  font-size: 41.60px;
  padding: 1px;
}
.show {
  display: flex;
  flex-direction: column;
}

.show a {
  display: flex;
  flex-direction: column;
  min-width: 379px;
}
nav {
  margin: 0;
}

nav a {
  background-color:var(--primary);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  text-decoration: none;
  margin: 0;
  transition: 1s;
  display: none;
}

nav a:hover {
  background-color: var(--accent2);
  font-size: 21px;
  color: var(--secondary);
  text-decoration: 2px var(--secondary) underline;
}

/* Scroll container for current events */

main {
  display: grid;
  grid-template-columns: 1fr;

}
.hero-scroll-div {
  grid-column: 1 / 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-join {
  
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  
}

.hero-img {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 100%;
  overflow: hidden;
}

.explore-hero {
  justify-self: center;
  grid-row: 1;
  grid-column: 1 / 2;
  position: relative;
 
  top: -3%;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  background-color: var(--accent2);
  color: #ffffffff;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  padding: 12px;
  transition: 1s;
}

.explore-hero:hover {
  color: var(--secondary);
  font-size: 20px;
}

.container-hero {
  grid-row: 2;
  grid-column: 2 / 3;
  margin-right: 5px;
}

.container-hero h2, .testimonial {
  text-align: center;
  margin: 20px 0;
  padding: 22px;
  font-size: 23px;
  background-color: var(--primary);
  color: #ffffff;
}

.scroll-container {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--accent2);
}



.scroll-content div p {
  text-align: center;
  padding: 10px;
  margin-bottom: -20px;
  margin: 20px 0;
}

.scroll-content div p:first-child {
  margin-bottom: -20px;
}
.scroll-content div p img {
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.scroll-content div p a {
  text-decoration: none;
  font-size: 18px;
  color:  #fff;
  background-color: var(--primary);
  margin-bottom: -20px;
  padding: 12px;
  border-radius: 10px;
  transition: .2s;
}

.scroll-content div p a:hover {
  color: var(--secondary)
}

.testimonials-section {
  grid-row: 2;
  grid-column: 1 / 2;
  margin-left: 5px;
}

.main-div-testimonials {
  width: 90%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--secondary);
  margin: 10px;
  
}

.testimonial-scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.testimonial-scroll-content img {
  border: 8px solid var(--accent2);
  border-radius: 50%;
  width: 100px;
  transition: transform .5s;
}

.testimonial-scroll-content p:first-child {
  text-align: center;
}
.testimonial-scroll-content p:last-child {
  text-align: center;
}


.testimonial-scroll-content img:hover {
  transform: scale(1.1);
  opacity: .7;
}

.testimonial-scroll-content p {
  margin: 10px;
  font-size: 20px;
}



/*-----------------Join Us Form----------------*/
.form-app {
  margin: 20px 5%;
  padding: 18px;
  border-radius: 20px;
  background-color: #000;
}
.div-form-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.form-app fieldset {
  padding: 10px;
  border-radius: 14px;
 
}

.form-app fieldset  legend {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}


.form-app .div-form-app input {
  padding: .84rem;
  border-radius: 8px;
  font-size: 18px;
  background-color: rgba(251, 251, 251, 0.94);
  color: #000;
}

.form-app textarea {
  width: 100%;
  height: 110px;
  border-radius: 8px;
  font-size: 18px;
  resize: none;
  background-color: rgba(251, 251, 251, 0.94);
  color: #000;
}

.form-app fieldset label {
  color: #fff;
  font-size: 19px;
}

.form-app fieldset #submit-btn {
  border: none;
  background-color: #d000009f;;
  color: #fff;;
  width: 72%;
  margin: -4px 14% 14px 14%;
  padding: 18px;
  font-size: 20px;
  border-radius: 20px;
  transition: .3s;
}
select {
  background-color: #fff;
  color: #000;
  font-size: 17px;
}

.form-app fieldset #submit-btn:hover {
  background-color: var(--primary);
}

.form-app .div-form-app input:required:invalid{
  border-bottom: 6px solid red;
}

.form-app .div-form-app input:required:valid {
  border-bottom: 6px solid green;
}


/*------------------------Levels-------------------------*/

.join-card {
  display: grid;
  grid-template-columns: 1fr;
}

.form-app {
  grid-row: 1;
}

.level-card {
  grid-row: 2;
}
.np-membership, .bronze,
.silver, .gold {
  margin: 10px 10px 0 10px;
  padding: 8px;
}
.np-membership h3, .np-membership h2,
 .bronze h2, .bronze h3, .silver h3, .silver h2,
 .gold h2, .gold h3 {
  background-color: var(--accent2);
  color: var(--secondary);
  text-align: center;
  padding: 6px;
}

 .np-membership p,
 .bronze p, .silver p,
 .gold p {
  font-size: 1.05rem;
 }
.np-membership p {
  padding: 6px;
  margin: 10px;
}

.bronze p:not(.br-para) {
  padding: 10px;
  text-align: center;
}

.silver {
 margin-top: -20px;
}

.bronze ul {
  margin-top: 8px;
}
.bronze ul li {
  margin-left: 20px;
}


.silver h3 {
  margin-top: 6px;
}

.silver ul, .gold ul {
  margin-left: 20px;
  margin-top: 8px;
}

.gold p {
  text-align: center;
}
.gold h3 {
  margin-top: 8px;
}

.gold p, .silver p,
.bronze p {
  text-align: center;
}

.gold ul li, .silver ul li,
.bronze ul li {
  padding: 1px;
  font-weight: bold;
}




/*------------------Form and weather--------------------*/
.main-form {
  background-color: var(--accent2);
  padding: 10px;
  margin-bottom: -3%;
}

.form-row label {
  color: #ffffff;
}

.form-and-weather {
  grid-column: 1 / 3;
  grid-row: 3;

  display: grid;
  grid-template-columns: 1fr;
  margin-top: 18px;
  height: 500px;
  margin: 10px 10px 315px 10px;
}

.form-right {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
  margin-bottom: -2%;
}

/* Weather */
.weather {
  grid-column: 1/ 2;
  grid-row: 2;
  background-color: var(--accent2);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 38px;
  margin-top: 8%;
  min-width: 412px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
}



.weather div {
  color: #ffffff;
  font-size: 22px;
  margin: 10px;
}

.weather div img {
  width: 90px;
}

.weather div:nth-child(4) {
  margin-top: -8px;
}

.weather div:nth-child(5) {
margin-top: 30px;
}


/* -----------------------------------Form-------------------------------------- */

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}


.main-label {
  flex: 1;
  text-align: left;
  font-size: 20px;
}

.main-form .form-row input[type="text"],
.main-form .form-row input[type="email"], textarea {
  background-color: #ffffff;
  width: 70%;
  padding: .80rem;
  border-radius: 5px;
  font-size: 18px;
}

.main-form textarea {
  padding: 24px;
  resize: none;
  font-size: 18px;
  border: none;
}

.submit-bt {
  width: 97.5%;
  padding: 10px;
  background-color: var(--secondary);
  color:  #000000;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  transition: 1s;
  margin: 10px;
}

.submit-bt:hover {

  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  padding: 10.5px;
}

input::placeholder {
  font-size: 18px;
}

textarea::placeholder {
  font-size: 20px;
}

/* ---------------------------------Spotlight----------------------------------------- */

/*
.spotlight {

  padding: 10px;
  margin: 14px 10px 10px 10px;
  background-color: var(--primary);
  margin-top: 70%;
  min-width: 396px;
}

.spotlight h2 {
  text-align: center;
  margin: 20px 0;
  color: cornsilk;
  font-size: 26px;
  font-weight: bold;
}

.spotlight p {
  margin-bottom: 20px;
  font-size: 19px;
  color: snow;
  font-weight: 400;
  line-height: 2;
}

.spotlight div {
  background-color: var(--accent2);
  color: var(--secondary);
  text-align: center;
  padding: 18px;
  font-size: 19px;
  align-self: center;
  width: 150px;
  margin: 14px auto;
  border-radius: 100px;
  cursor: pointer;
  transition: 3s;

}
.spotlight div a {
  transition: 1s;
  font-size: 19px;
  color: var(--secondary);
  text-decoration: none;
}

.spotlight div a:hover {

  color: #ffffffff;
  font-size: smaller;
  text-decoration: 2px underline; 
} */

/*-------------------Gold or Silver------------------------*/

.spotTitle {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0 10px 20px 10px;
  font-size: 28px;
}

#spotlights {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  box-shadow: 2px 5px 5px 6px grey;
  border-radius: 10px;
}

#spotlights .spot-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-shadow: 1px 1px 5px 4px grey;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  transition: transform .3s;
}

#spotlights .spot-card:hover {
  transform: scale(1.01);
}

#spotlights .spot-card:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

#spotlights .spot-card:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

#spotlights .spot-card:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}


#spotlights .spot-card img {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 18px;
}

#spotlights .spot-card p {
  margin-bottom: 10px;
  font-size: 18px;
}

#spotlights .spot-card h2 {
  color: #5c0000;
}

#spotlights .spot-card a {
  text-decoration: none;
  font-size: 18px;
  color: navy;
  transition: .3s;
}

#spotlights .spot-card a:hover {
  text-decoration: 2px underline;
  color: var(--primary);
}

/* Footer */

footer {
  background-color: var(--accent2);
  padding: 50px;
  text-align: center;

  margin-top: 24px;
}
.div-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
}

.div-footer .div-a {
 grid-column: 1 / 5;
 grid-row: 1;
 margin-bottom: 20px;
}

.div-footer .div-b {
  grid-row: 2;
  grid-column: 2 / 3;
  margin-top: 10px;
}

.div-footer .div-c {
  grid-row: 2;
  grid-column: 3 / 4;
  margin-top: 10px;
}
 .social-m {
  grid-row: 3;
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
 }

.social-media a img {
  border-radius: 50%;
  background-color: #ffffff;
}

.div-footer img {
  
  width: 30px;
  transition: transform 1s;
}

.div-footer img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.div-footer div {
  color: #ffffff;
  font-size: 20px;
 
}

.div-footer a {
  color: #ffffffff;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}
.div-footer a:hover {
  color: var(--secondary);
  text-decoration:  2px solid var(--secondary) underline;
  font-size: 19px;
}

#lastModified {
  color:  var(--secondary);
  font-size: 22px;
  text-align: center;
}


/*----------------------------- Discover page layout ------------------------------------*/

.photo-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.photo {
  grid-column: 1 / 2;
  grid-row: 3;
  margin-bottom: -20px;
}

.photo img {
  width: 100%;
  transition: transform .3s;
  margin-right: 0;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 10px 0 0;
  width: 100%;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  background-color: #000000;
  grid-row: 2;
  grid-column: 1 / 2;
}

table th {
  background-color: var(--primary);
}

td, th {
  padding: 18px;
  border: 1px solid var(--accent2);
  text-align: center;
  color: white;
}

td:hover, th:hover {
  background-color: rgba(255, 245, 245, 0.1);
  cursor: pointer;
}

.currentDay {
  background-color: var(--primary);
  color: white;
}

.month-year {
  grid-row: 1;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #000000;
  color: white;
  padding: 20px;
}

.year {
  margin-left: 10px;
}

.lastVisit {
 grid-column: 1 / 2;
 grid-row: 1;
 padding: 18px;
 margin: 10px 0;
 font-size: 20px;
 background-color: #000000;
 color: white;
 text-align: center;
}

.calendar {
  grid-column: 1 / 2;
  grid-row: 2;
}

.art-hd {
  background-color: var(--primary);
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 6px;
}

.art-bd {
  background-color: #000000;
  color: white;
  font-size: 17px;
  padding: 24px;
  line-height: 2;
}

.nature-cl {
  background-color: #000000;
  color: white;
  line-height: 2;
  padding: 12px 24px;
}



.learn-more {
  padding: 20px;
  border-radius: 20px;
  margin: 6px;
  background: var(--primary);
  color: white;
  text-align: center;
}

.learn-more:hover {
  background-color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}
.learn-more a {
  color: white;
  text-decoration: none;
}

.calendar {
  grid-row: 1;
}



/*------------------------------Directory.html-----------------------------*/

.dir-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  margin: 8px;
}




.dir-cards h2 {
  margin-bottom: -2px;
  margin-top: 14px;
  color: #5c0000;
  text-transform: uppercase;
  font-size: 22px;
}

.dir-cards img {
  width: 100px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 14px;
}

.first-div {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 4px grey;
}

.second-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.first-div li {
  margin: 10px 2px 10px 8px;
  color: var(--accent2);
  font-size: 18px;
}

/*--------------------Grid and list view code go here-----------------------*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#grid, #list {
  padding: 10px;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: navy;
}

#grid:hover, #list:hover {
  color: var(--primary);
  cursor: pointer;
}

.dir {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: #ffba08;
  margin: 2px;
}

.dir img {
  display: none;
}

.dir h2 {
  color: #d00000;
}

.dir ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dir ul li {
  margin: 6px;
}